body
{
	background:#202020;
	color: #bbb;
	font-family: sans-serif;
}

#header
{
	width: 100%;
	background: #101010;
    margin: 5px 20px 10px auto;
}

#contentContainer
{
	width: 80%;
	margin: 90px auto 10px auto;
	font-size: 16pt;
	font-weight: bold;
	padding: 10px;
}

#leftContent
{
	width: 40%;
	float: left;
	margin: 5px;
}

#rightContent
{
	width: 40%;
	float: right;
	margin: 5px;
}

#mainLink
{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 28pt;
}

textarea
{
	min-width: 60%;
	max-width: 60%;
	min-height: 75px;
	max-height: 100px;
	background: #111;
	color: #bbb;
	border: 2px solid #1437AD;
	font-size: 12pt;
	margin-bottom: 5px;
}

textarea:focus
{
	background: #000000;
}

textarea:hover
{
	background: #000000;
}

img.banner
{	
	float: left;
	margin: 0px 20px 10px 0px;
}

img.banner:hover
{
	background: #111111;
	transition: background 0.5s ease-in-out;
}

select
{
	background: #111;
	color: #bbb;
	border: 2px solid #1437AD;
	font-size: 14pt;
	margin-bottom: 5px;
}

select:focus
{
	background: #000000;
}

select:hover
{
	background: #000000;
}


input
{
	background: #111;
	color: #bbb;
	border: 2px solid #1437AD; 
	margin-bottom: 5px;
	font-size: 12pt;
	padding: 5px 15px 5px 2px;
}

input:focus
{
	background: #000000;
}

input:hover
{
	background: #000000;
}

input[type=submit]
{
	color: #bbb;
 	width: 135px;
 	height: 40px;
 	border: 3px solid #1437AD;
 	margin: 0;
 	padding: 0;
 	background: #111; 
}

input[type=submit]:hover
{
	background: #000000;
	transition: background 0.75s ease-in-out; 
}

input[type=submit]:active
{
	border: 2px solid #111; 
	font-size: 12pt;
}

input[type=reset]
{
	color: #bbb;
 	width: 135px;
 	height: 40px;
 	border: 3px solid #1437AD;
 	margin: 0;
 	padding: 0;
 	background: #111; 
}

input[type=reset]:hover
{
	background: #000000; 
	transition: background 0.75s ease-in-out;
}

input[type=reset]:active
{
	border: 2px solid #000; 
	font-size: 12pt;
}

h1
{
	text-align: center;
	font-size: 14pt;
}

p
{
	font-size: 12pt;
}

::-webkit-input-placeholder {
   color: #777;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #777;  
   font-style: italic;
   font-size: 8pt;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #777; 
   font-style: italic;
   font-size: 8pt; 
}

:-ms-input-placeholder {  
   color: #777; 
   font-style: italic; 
   font-size: 8pt;
}