/* Navigation menu style
 - horizontal
 - drop down for more links
*/

#navigation
{
	background: transparent;  /* Sets background of the menu */
	font-size: 28px;   /* Sets font size of the menu headings */
	font-family: sans-serif;
	
	/* Everything below this point is positional formatting */
	padding: 0;
	margin: 0;
	float:left;
	text-align:center;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}
		
#navigation > li
{
	/*border: 1px solid #333;*/  /* Puts a border around the main headers of the menu  */
		
    /* Everything below this point is positional formatting */
    list-style:none;
    margin:0px 0px 0px 5px;
    padding:0;
    position:relative;
    display:block;
    float:left;
    background: #111111;
}

#navigation > li > a
{
	color: #bbb;
	font-weight: bold;
}

#navigation > li:hover > a
{
	background: #1437AD;
	transition: background 0.45s ease-in-out;
	-webkit- transition: background 0.45s ease-in-out;
	-moz- transition: background 0.45s ease-in-out;
	-o- transition: background 0.45s ease-in-out;
}

#navigation li a
{
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 0 1em;
	text-decoration: none;
}
			
#navigation ul
{
	list-style: none;
	padding: 0;
	position: absolute;
	display: none;
	z-index: 999;
	background: #111111;
	border-style: solid;
	border-color: #111111;
	border-top-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	color:white;
}

#navigation ul li a
{
	width: auto;
	color: #bbb;
}

#navigation li ul li a
{
	font-size: 16pt;
	text-align:left;
}

#navigation li:hover ul
{	
	display: block;
}

#navigation ul li:hover a
{
	background: #1437AD;
	transition: background 0.35s ease-in-out;
	-webkit- transition: background 0.35s ease-in-out;
	-moz- transition: background 0.35s ease-in-out;
	-o- transition: background 0.35s ease-in-out;
}

