/* This is all the css for the profileTiles on the main page */
.profileTile
{
	width:170px;
	height:170px;
	float:left;
	margin:4px;
	
	/* Giving the sponsor div a relative positioning: */
	position:relative;
}

.profileFlip
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.profileFlip:hover
{
	border:1px solid #999;

    /* CSS3 inset shadow: */
    -moz-box-shadow:0 0 30px #999 inset;
    -webkit-box-shadow:0 0 30px #999 inset;
    box-shadow:0 0 30px #999 inset;
}

.profileFlip img
{
    /* Making the image fill .profileFlip div */

    height: 100%;
    width: 100%;
}

.profileData
{
    /* Hiding the .profileData div */
    display:none;
}

.profileDescription
{
    font-size:12px;
    padding:2px 2px 2px 5px;
    font-style:italic;
}

.profileDescription a
{
    color: #236B8E;
    text-decoration: none;
    font-size: 11pt;
    text-align: center;
    display:block;
}

.profileDescription a:visited
{
    color: #236B8E;
}

.profileLinks
{
    padding: 0px 0px 5px 2px;
    position: absolute;
    bottom: 0; 
}

.profileLinks a
{
    display: block;
    float: left; 
    margin-right: 3px;
}

.profileLinks img
{
    height: 25px;
    width: 30px;
}