@import url(global.css);

/*  Dark Blue: #8EE5E2 
	Light Blue: #49A9BC
*/

#headerRightTop 
{
	background: #49A9BC;
	color: #8EE5E2;
}

#headerRightTop a
{
	color: #8EE5E2;
}

#headerRightTop a:visited
{
	color: #8EE5E2;
}

#headerRightBottom
{
	background: #49A9BC;
}

.headerButton
{
	border: 2px solid #8EE5E2;
	background: #49A9BC;
}

.dirText
{
	color: #8EE5E2;
}

#navLinkBtn
{
	color: #49A9BC;
}

#navLinkBtn:hover
{	
	color: #8EE5E2;
}

.arrow-right
{
	border-left: 45px solid #8EE5E2;
}

.arrow-left
{
	border-right: 45px solid #8EE5E2;
}

.arrow-down
{
	border-top: 45px solid #8EE5E2;
}

.arrow-up
{
	border-bottom: 45px solid #8EE5E2;
}

.headerBannerBlock
{
	background: #49A9BC;
}

.headerBannerText
{
	color: #8EE5E2;
}

.headerBannerAngle
{
	border-left: 45px solid #49A9BC;
}