html
{
	height: 100%;
}

body
{
	background: url(../Images/Untitled-12.jpg) #bbbbbb;
	color: #222222;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

#header 
{
	position: absolute;
	top: 0;
	left: 0;
}

/* Parallax Naviagtion */ 

#rightControl{
	right:0px;
	top:40%;
}

#leftControl{
	left:0px;
	top:40%;
}

.arrow{
	opacity:0.2;
}

/* Arrow text */
.dirText{
	color:white;
	font-size:20px;
	margin-top:45px;
	opacity:0.0;
}

.control{
	position:fixed;
	width:170px;
	cursor:pointer;
}

/* End Parallax navigation */

/*Container for the page */
#container
{
	height: 96%;
	width: 100%;
	overflow-y: hidden;
}

/* Holds all content inside each div section */
#contentContainer
{
	background: transparent;
	width: 90%;
	margin: 100px 80px 10px 80px;
	height: 95%;
}

/* Each section has a named div that gets automatic styling from the Parallax plugin
   Those are not to be styled sice it will be overriden.
   Make other divs inside to displa content as we like. */

/* holds recent news content */
#newsContainer
{
	float:left;
	width: 75%;
}

#recentJobs
{
	float:left;
	width: 48%;
	margin-left: 10px;
	border: 1px solid black;
}

#newMembers
{
	float:right;
	width: 48%;
	margin-right: 10px;
	border: 1px solid black;
}

#twitterBox
{
	float:right;
	width: 25%;
	min-width: 250px;
	margin: 0px auto;
}



/* Holds the Tile wall */
#tileBox
{
	float:left;
	width: 100%;
}

#navLinksBar
{
	float: left;
	width: 15%;
}

#searchContainer
{
	float: right;
	width: 85%;
}

#map
{
	width: 100%;
}

#mapBox 
{
	float: left;
	width: 72%;
	height: 100%;
}

#googleMap
{
	position: relative;
	left: 5px;
	top: 5px;
	bottom: 5px;
	right: 5px;
	border: 2px solid #236B8E;
	max-height: 550px;
	min-height: 550px;
}

#filtersBox
{
	width: 25%;
	float: right;
}



::-webkit-input-placeholder 
{
   color: #333333;
   font-style: italic;
}

:-moz-input-placeholder 
{ /* Firefox 18- */
   color: #333333;  
   font-style: italic;
   font-size: 8pt;
}

::-moz-input-placeholder 
{  /* Firefox 19+ */
   color: #333333; 
   font-style: italic;
   font-size: 8pt; 
}

:-ms-input-placeholder 
{  
   color: #333333; 
   font-style: italic; 
   font-size: 8pt;
}


/* Search box don't change this except for colors */
#styledSearchBox
{
	display: block;
	float: right;
	width: 25%;
}

#styledSearchBox input[type="text"] 
{
    background: url(../Images/search-light.png) no-repeat 10px 6px #fcfcfc;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:70%;
    padding: 6px 15px 6px 35px;
    border: 2px solid #236B8E;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
 
#styledSearchBox input[type="text"]:focus 
{
    background: url(../Images/search-light.png) no-repeat 10px 6px #fcfcfc;
    color: #000000;
    width: 80%;
    outline: 0;
}

#styledSearchBox input::-webkit-input-placeholder
{
	color: #6a6f75;
	font-style: italic;
}

#styledSearchBox input::-moz-input-placeholder
{
	color: #6a6f75;
	font-style: italic;
}

#styledSearchBox input:-ms-input-placeholder
{
	color: #6a6f75;
	font-style: italic;
}

/* The about section CSS  */
.quote
{
	font-style: italic;
	font-size: 16pt;
	text-align: center;
}

.aboutHeader
{
	font-size: 18pt;
	font-weight: bold;
	font-style: italic;
}

.aboutList
{
	font-size: 14pt;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

.aboutText
{
	font-size: 14pt;
	text-indent: 25px;
	margin-left: 20px;
}

