html
{
	height: 100%;
}

@font-face
{
	font-family: Cousine;
	src: url(../Font/cousineReg.ttf);
}

body
{
	background: url(../Images/ugly.jpg) #bbbbbb;
	color: #222222;
	font-family: Cousine;
	margin: 0;
	padding: 0;
	height: 100%;
}

#header 
{
	position: absolute;
	top: 0;
	left: 0;
}

#headerRight 
{
	position: absolute;
	top: 0;
	right: 5px;
	background: #96bf49;
	color: #d9e78f;
	font-size: 16pt;
	padding: 5px;

}

/* Parallax Naviagtion */ 

#rightControl{
	right:0px;
	top:45%;
}

#leftControl{
	left:0px;
	top:45%;
}

#leftControlText
{
	position: fixed;
	top: 30%;
	left: 0px;
}

#rightControlText
{
	position: fixed;
	top: 30%;
	right: 0px;
}

.arrow{
	opacity:0.2;
}

/* Arrow text */
.dirText{
	color: #96BF49;
	font-size:14pt;
	opacity:0.0;
}

.control{
	position:fixed;
	width:120px;
	height: 120px;
	cursor:pointer;
}

.counterClockwiseRotate 
{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	top: 20px;
}

.clockwiseRotate 
{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	top: 20px;
}
/* End Parallax navigation */

/*Container for the page */
#container
{
	height: 96%;
	width: 100%;
	overflow-y: hidden;
}

/* Holds all content inside each div section */
#contentContainer
{
	width: 85%;
	margin: 100px 90px 10px 90px;
	height: 95%;
}

#navContentContainer
{
	width: 100%;
	margin: 100px 10px 100px 10px;
	height: 95%;
}

/* Each section has a named div that gets automatic styling from the Parallax plugin
   Those are not to be styled sice it will be overriden.
   Make other divs inside to displa content as we like. */

/* holds recent news content */
#newsContainer
{
	float:left;
	width: 75%;
}

#recentJobs
{
	float:left;
	width: 48%;
	margin-left: 10px;
	border: 1px solid black;
	background: rgba(255, 255, 255, 0.6);
}

#newMembers
{
	float:right;
	width: 48%;
	margin-right: 10px;
	border: 1px solid black;
	background: rgba(255, 255, 255, 0.6);
}

#twitterBox
{
	float:right;
	width: 25%;
	min-width: 250px;
	margin: 0px auto;
}



/* Holds the Tile wall */
#tileBox
{
	float:left;
	width: 100%;
	margin: 0px 10px;
}

#navLinksBar
{
	font-size: 18pt;
	float: left;
	width: 14%;
	margin-right: 5px;
}

#navBox
{
	background: rgba(10, 10, 10, 0.6);
	width: 190px;
}

.navList 
{
	list-style: none;
	padding: 5px;
}

.navListItem
{
	padding: 5px;
	margin: 5px 0px;
}

#navLinkBtn
{
	color: #96bf49;
	text-decoration: none;
}

#navLinkBtn:hover
{	
	color: #d9e78f;
}

#searchContainer
{
	float: left;
	width: 83%;
	margin-left: 10px;
	margin-right: 5px;
	padding: 5px;
}

#map
{
	width: 100%;
}

#mapBox 
{
	float: left;
	width: 72%;
	height: 100%;
}

#googleMap
{
	position: relative;
	left: 5px;
	top: 5px;
	bottom: 5px;
	right: 5px;
	border: 2px solid #236B8E;
	max-height: 550px;
	min-height: 550px;
}

#filtersBox
{
	width: 25%;
	float: right;
	background: rgba(255, 255, 255, 0.6);
}

#profileHomeBox
{
	width: 100%;
	float: left;
	background: rgba(255, 255, 255, 0.6);
}

#profileEditBox
{
	width: 100%;
	float: left;
	background: rgba(255, 255, 255, 0.6);
}

::-webkit-input-placeholder 
{
   color: #333333;
   font-style: italic;
}

:-moz-input-placeholder 
{ /* Firefox 18- */
   color: #333333;  
   font-style: italic;
   font-size: 8pt;
}

::-moz-input-placeholder 
{  /* Firefox 19+ */
   color: #333333; 
   font-style: italic;
   font-size: 8pt; 
}

:-ms-input-placeholder 
{  
   color: #333333; 
   font-style: italic; 
   font-size: 8pt;
}

/* The about section CSS  */
.quote
{
	font-style: italic;
	font-size: 16pt;
	text-align: center;
}

.aboutHeader
{
	font-size: 18pt;
	font-weight: bold;
	font-style: italic;
}

.aboutList
{
	font-size: 14pt;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

.aboutText
{
	font-size: 14pt;
	text-indent: 25px;
	margin-left: 20px;
}

